/**{
	box-sizing: border-box;
}*/

header{
	background-color: #6799FF;
	padding-bottom: 10px;
	padding-left:10px;
	text-align:center;
}

h1{
	font-family: 'Baloo', cursive;
	margin-bottom:5px;
	padding-bottom:0px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top:-15px;
}

input{
	width:200px;
	height:25px;
	text-align: center;
}

button{
	display:none;
	margin-top:5px;
	margin-left: auto;
	margin-right:auto;
	display:block;
	width:200px;
	background-color:skyblue;
	border-radius: 5%;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	margin:-5,-5;
	max-width: 300px;
	max-height:300px;
}

p{
	max-width: 300px;
	max-height:300px;
}

.resultsContainer{
	text-align: center;
}

img{
	width:300px;
}

.video{
	padding-left:10px;
	padding-right:10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	margin-right: 10px;
	max-height: 500px;
	border:solid skyblue 2px;
	display:inline-block;
}